<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mike.scanevrythng.scanner" >

    <!-- Android permissions (internet) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Geo Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Camera for scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mike.scanevrythng.scanner.activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mike.scanevrythng.scanner.activity.ScanActivity"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name="com.mike.scanevrythng.scanner.activity.ThngListActivity"
            android:label="@string/title_activity_thng_list" >
        </activity>

        <service
            android:name="com.mike.scanevrythng.scanner.service.EvrythngService"
            android:exported="false" >
        </service>
    </application>

</manifest>
